<h3>Replay Command Module</h3>

<form [formGroup]="replayForm">

  <span>    
    <label for="customer">Customer</label>
    <select formControlName="customer" required>
      <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.name}}</option>
    </select>
  </span>

  <span>
    <label for="environment">Environment</label>
    <select formControlName="environment" required>
      <option *ngFor="let environment of environments" [ngValue]="environment">{{environment.name}}</option>
    </select>
  </span>
  
  <span>
    <label for="processor">Processor</label>
    <select class="form-control" required>
      <option>To be implemented</option>
    </select>
  </span>

  <span>
    <button class="button" type="submit" (click)="onSubmit(replayForm.value)">Get Status</button>
    <button class="button" type="submit" (click)="onSubmit(replayForm.value)">Initiate Replay</button>
  </span>

</form>

<div style="height:20px"></div>
<app-replay-status [customer]="customer" [environment]="environment"></app-replay-status>
