<a [routerLink]="['/']">
  <h1>PFG Replay Service</h1>
</a>

<span class="button-menu">
<a [routerLink]="['/']" class="button fancy-button"><i class="material-icons">history</i>Replays</a>
<div class="divider"></div>
<a [routerLink]="['/customers']" class="button fancy-button"><i class="material-icons">settings</i>Manage Customers</a>
</span>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->